.tblEstilo{
    border-collapse: collapse;
    border: 2px solid black;

    & th{
        border: 2px solid black;
        background-color: lightgreen;
        padding: 5px;
    }

    & .lineTbl{
        background-color: lightskyblue;

        & td{
            border: 2px solid black;
            padding: 5px;

            &:first-child{   /* alinhando somente os tds da coluna ID no centro */
                text-align: center;
            }

            &:last-child{   /* alinhando somente os tds da coluna Preço no centro */
                text-align: center;
            }
        }
    }

    & tfoot{
        background-color: #ccc;

        & td{
            border: 2px solid black;
            padding: 5px;
            text-align: center;
        }
    }
}