footer{

    nav{

        ul{
            list-style: none;
            text-align: center;

            li{
                margin: 8px;
                color: blueviolet;
                
            }
        }

        p{
            margin-top: 30px;
        }
    }
}