.cabecalho{
    background-color: #506266;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    height: 20%;

    .btn{
        display: none;
    }


    .btnLogout{
        margin: 0 auto;
        background-color: #888;
        text-align: center;
        display: block;
        padding: 8px 16px;
        border-radius: 5px;
        transition: ease-out 300ms;

        &:hover{
            background-color:#27ae60;
        }

        border-color: #27ae60;
    }

    ul{
        list-style: none;
        
        li{
            
            a{
                text-decoration: none;
                text-align: center;
                display: block;
                color: #000;
                padding: 10px;
                border-radius: 5px;
                transition: ease-out 300ms;

                &:hover{
                    background-color: #bcc499;
                }
            }
        }
    }

    .active{
        background-color: #bcc499;
    }
}